body { background: #675a86; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 49px; display: flex; }
.block-validator-0 { color: #ad107f; font-size: 20px; margin-bottom: 5px; }
.block-validator-1 { color: #365cc6; font-size: 12px; margin-bottom: 5px; }
.block-database-2 { color: #ffbec6; font-size: 14px; margin-bottom: 5px; }
.block-session-3 { color: #3d9d15; font-size: 15px; margin-bottom: 5px; }
.block-sms-4 { color: #b8d97f; font-size: 21px; margin-bottom: 5px; }